/* React phone input style change  */
.react-tel-input {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  border: 1px solid #d6d4d4;
  border-radius: 5px;
  padding: 0 12px;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #ffffff;
  border: 0px;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 300px;
  outline: none;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #ffffff;
  border: 0px solid #cacaca;
  border-radius: 10px 0 0 10px;
}

.react-tel-input .flag-dropdown > :hover {
  border-radius: 10px 0 0 10px;
}
.react-tel-input {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  position: relative;
  width: 100%;
  border: 1px solid #d9dce0;
  border-radius: 6px;
  padding: 0.5px;
  box-sizing: border-box;
}

.react-tel-input input {
  border: none;
  font-size: inherit;
  width: 100%;
  padding: 0;
}
.react-tel-input .flag-dropdown {
  border: none;
  background: transparent;
}
